.main {
	padding: 5px;
}
.hiddenStepInfo {
    display: none;
}

.activeStepInfo {
    display: block !important;
}

.underline {
    text-decoration: underline;
}

.step {
    margin-top: 0px;
}

.mouse-point {
    cursor: pointer;
}

.bloco-left {
    border-left: 1px solid rgba(0, 0, 0, 0.2);
}

.bloco-right {
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.progress {
    position: relative;
    height: 25px;
}

.progress > .progress-type {
    position: absolute;
    left: 0px;
    font-weight: 800;
    padding: 3px 30px 2px 10px;
    color: rgb(255, 255, 255);
    background-color: rgba(25, 25, 25, 0.2);
}

.progress > .progress-completed {
    position: absolute;
    right: 0px;
    font-weight: 800;
    padding: 3px 10px 2px;
}

.step {
    text-align: center;
}

.step .col-md-2 {
    background-color: #fff;
    border: 1px solid #C0C0C0;
    border-right: none;
}

.step .col-md-2:last-child {
    border: 1px solid #C0C0C0;
}

.step .col-md-2:first-child {
    border-radius: 5px 0 0 5px;
}

.step .col-md-2:last-child {
    border-radius: 0 5px 5px 0;
}

.step .col-md-2:hover {
    color: #2390F5;
    cursor: pointer;
}

.step .activestep {
    color: #2390F5;
    height: 105px;
    /*margin-top: -7px;*/
    padding-top: 7px;
    /*border-left: 1px solid #000000 !important;
    border-right: 1px solid #000000 !important;
    border-top: 1px solid #000000 !important;
    border-bottom: 1px solid #000000 !important;*/
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    vertical-align: central;
    border-right: 0px;
}

.step .fa {
    padding-top: 15px;
    font-size: 40px;
}

.sem-padding {
    padding: 0;
}